body{

background: rgb(34,34,34);
background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(9,9,121,1) 20%, rgba(162,3,211,1) 80%, rgba(34,34,34,1) 100%);
}
#spaceship{
   
    position: absolute;
    bottom: 15px;
   width: 120px;
  transition: transform 1.3s;
}
h1{
    color:rgb(0, 136, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 0 0 15px white;
}
img{
    width: 100px;
    position: fixed;
    transform: translate(-50%,-50%);
}
h5{
    color: rgba(255, 4, 4, 0.848);
    font-family: 'Open Sans', sans-serif;
}